/* Start Variables */
:root {
    --main-color: #19C8FA;
    --second-color: white;
    --special-padding: 80px;

}
/* End Variables */
/* Start Component */
.special-heading {
    text-align: center;    
}
.special-heading h1{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    position: relative;
}
.special-heading h1::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: black;
    bottom: -41px;
    left: 50%;
    transform: translateX(-50%);
}
.special-heading h1::after{ 
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--second-color);
}
.special-heading h1 + p {
    color: #777777;
    line-height: 2;
    margin-top: 80px;
    margin-bottom: 100px;

}
/* End Component */
/* Start Global Rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* Start Global Rules */
/* Start Header  */
header {
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .container::after {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    background-color: #A2A2A2;
    bottom: -21px;
}
header .logo img {
    width: 120px;
    border-radius: 45px;
}
header nav {
    display: flex;
}
header nav .toggle-menu {
    color: var(--second-color);
    font-size: 20px;
    cursor: pointer;
}
@media (min-width: 768px) {
    header nav .toggle-menu {
        display: none;
    }
}
header nav ul {
    display: flex;
    list-style: none;
    margin-right: 40px;
}
@media (max-width: 767px) {
    header nav ul {
        display: none;
    }
    header nav .toggle-menu {
        position: absolute;
        right: 70px;
    }
    header nav ul.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: calc(100% + 60px);
        background-color: #fff;
        padding: 20px;
        left: 0;
        width: 100%;
    }
    header nav ul li:not(:last-child) {
        margin-bottom: 25px;
    }
    header nav ul.open li a:hover,
    header nav ul.open li a.active {
        border-bottom: none;
    }
    header nav ul.open li a {
        padding: 0;  
        color: #000; 
    }
}
header nav ul li a {
    font-size: 14px;
    text-decoration: none;
    color: var(--second-color);
    transition: .5s;
    padding: 0 10px 39px;
}
header nav ul li a:hover,
header nav ul li a.active {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header nav .form::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 30px;
    background-color: var(--second-color);
    right: 50px;
    bottom: 14px;
}
header nav .form  i {
    color: var(--second-color);
    font-size: 20px;
}
/* End Header  */
/* Start Landing  */
.landing {
    min-height: 100vh;
    background-image: url(../img/landing.jpg);
    background-size: cover;
    position: relative;
}
.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}
.landing .text {
    position: absolute;
    top: 50%;
    color: var(--second-color);
    transform: translatey(-50%);
    background-color: rgb(9 235 255 / 50%);
    width: calc(50% - 50px);
    padding: 40px 80px;
    display: flex;
    justify-content: flex-end;
}
@media (max-width:992px) {
    .landing .text {
        width: 100%;
    }
}
.text .content {
    max-width: 500px;
}
.landing .text h2 {
    font-weight: 500;
    line-height: 2;
}
.landing .text p {
    line-height: 1.8;
    font-size: 14px;
}
.landing .angle-right {
    position: absolute;
    top: 50%;
    right: 40px;
    color: var(--second-color);
    font-size: 30px;
}
.landing .angle-left {
    position: absolute;
    top: 50%;
    left: 40px;
    color: var(--second-color);
    font-size: 30px;
}
@media (max-width: 768px) {
    .landing .angle-right,
    .landing .angle-left {
        display: none;
    } 
}
.landing .circle {
    position: absolute;
    display: flex;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}
.landing .circle div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--second-color);

}
.landing .circle div:nth-child(2) {
    background-color: var(--main-color);
    border-color: var(--main-color);
    margin: 0 10px;
}
/* End Landing  */
/* Start Services */
.services {
    padding-top: var(--special-padding);
    padding-bottom: var(--special-padding  );
}
.services .content {
    display: flex;
    flex-wrap: wrap;
}
.services .content .service {
    width: 50%; 
    display: flex;
    gap: 50px;
    margin-bottom: 70px;
}
@media (max-width: 768px) {
    .services .content .service {
        width: 100%;
        text-align: center;
        flex-direction: column;
    }
    .services .content .service .text h3 {
        margin-top: -20px;
    }
}
.services .content .service .text h3 {
    color: var(--main-color);
}
.services .content .service .text p {
    color: #777777;
    line-height: 2;
    margin-top: 30px;
}
/* Start Services */
/* Start Design  */
.design {
    background-image: url(../img/design.png);
    background-size: cover;
    height: 100vh ;
    position: relative;
}
.design .text {
    position: relative;
    margin-left: auto;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px;
    color: var(--second-color);
    background-color: rgb(0 117 127 / 75%);
}
@media (max-width: 768px) {
    .design .text {
        width: 100%;
    }
}
.design .text h2 {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 50px;
    line-height: 2;
}
.design .text .cont i {
    margin-right: 15px;
    margin-bottom: 25px;
}
/* End Design  */
/* Start Portfolio */
.portfolio {
    padding-top: var(--special-padding);
    padding-bottom: var(--special-padding  );
}
.portfolio .photograph ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.portfolio .photograph ul a {
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: 1s;
}
.portfolio .photograph ul a:hover,
.portfolio .photograph ul a.active {
    background-color: var(--main-color);
    color: var(--second-color);
}
.portfolio .photograph section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}
.portfolio .photograph section .image {
    width: 25%;
    position: relative;  
    overflow: hidden;
}
.portfolio .photograph section .image:hover img{
    transform: rotate(3deg) scale(1.1);
}
.portfolio .photograph section .image:hover .text {
    margin-bottom: 0;
}
@media (max-width: 767px){
    .portfolio .photograph section .image {
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    .portfolio .photograph section .image {
        width: 50%;
    }
}
.portfolio .photograph section .image img {
    width: 100%;
    transition: .3s;
}
.portfolio .photograph section .image .text {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: var(--second-color);
    bottom: 0;
    padding: 20px;
    margin-bottom: -100%;
    transition: .3s;
}
.portfolio .photograph section .image .text h4 {
    font-weight: 500;
}
.portfolio .photograph section .image .text p {
    color: var(--main-color);
}
.portfolio .photograph span {
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    margin-top: 25px;
}
.portfolio .photograph span a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--second-color);
}
/* End Portfolio */
/* Start Awesome */
.awesome {
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
}
.awesome .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 40%);
}
.awesome .text {
    background-color: #15647A;
    color: var(--second-color);
    opacity: .7;
    padding: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

}
.awesome .text h2 {
    text-transform: uppercase;
    font-weight: 500;
}
.awesome .text p{
    margin-top: 30px;
    margin-bottom: 45px;
}
.awesome .text span {
    background-color: black;
    padding: 10px 20px;
}
.awesome .text span a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--second-color);
}
/* End Awesome */
/* Start About-Us */
.about-us .stats {
    padding-top: var(--special-padding);
    padding-bottom: var(--special-padding);
}
.about-us .stats{
    background-image: url(../img/background-about.jpg);
    background-size: cover;
    position: relative;
    margin-top: 350px;
}
.about-us .stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.about-us .stats img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -260px;
    z-index: -1;
    max-width: 100%;
}
.about-us .stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.about-us .stats .container .box{
    background-color: #15647A;
    opacity: .9;
    width: 25%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--second-color);
}
@media (max-width: 768px) {
    .about-us .stats .container .box {
        width: 100%;
    }
    .about-us .stats img {
        top:-130px
    }
    .about-us .stats {
        margin-top: 220px;
    }
}
.about-us .stats .container .box i {
    background-color: black;
    border: 12px solid black;
    border-radius: 50%;
}
.about-us .stats .container .box span {
    font-size: 50px;
    font-weight: bold;
    margin: 20px;
}
.about-us .stats .container .box p {
    font-size: 14px;
}
/* End About-Us */
/* Start Skills */
.test-skills {
    padding-top: var(--special-padding);
    padding-bottom: var(--special-padding);
}
.test-skills .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 90px;
}
@media (max-width: 768px) {
    .test-skills .container {
        display: grid;
        grid-template-columns: 100%;
    }
    .test-skills .testimonials .box {
        flex-direction: column;
        text-align: center;
    }
    .test-skills .testimonials .box img {
        margin: 0 auto;
    }
}
.test-skills .testimonials {
    position: relative;
}
.test-skills .head {
    text-align: center;
    margin-bottom: 50px;
}
.test-skills .testimonials .head h3,
.test-skills .skills .head h3 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 30px;
}
.test-skills .testimonials .head p,
.test-skills .skills .head p {
    color: #777777;
    line-height: 2;
}
.test-skills .testimonials .box {
    display: flex;
    gap: 35px;
    margin-bottom: 30px;
}
.test-skills .testimonials .box img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.test-skills .testimonials .box .text {
    border-bottom: 1px solid #ccc;
}
.test-skills .testimonials .box .text p {
    line-height: 2;
}
.test-skills .testimonials .box .text span {
    font-size: 14px;
    color: #777;
    display: block;
    text-align: right;
    margin-bottom: 15px;
}
.test-skills .testimonials .bullets {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
}
.test-skills .testimonials .bullets div {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #aaa;

}
.test-skills .testimonials .bullets div:nth-child(2) {
    background-color: var(--main-color);
    border-color: var(--main-color);
    margin: 0 10px;
}
.test-skills .skills .content {
    margin-bottom: 30px;
}
.test-skills .skills .content h4 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.test-skills .skills .content .prog {
    background-color: #DEDADC;
    height: 30px;
}
.test-skills .skills .content .prog span {
    background-color: var(--main-color);
    height: 100%;
    display: block;
    position: relative;
}

.test-skills .skills .content .prog span::before {
    content: attr(data-progress);
    position: absolute;
    top: -50px;
    right: -20px;
    background-color: black;
    color: var(--second-color);
    padding: 4px;
    border-radius: 5px;
}
.test-skills .skills .content .prog span::after {
    content: "";
    position: absolute;
    top: -25px;
    right: -8px;
    border: 8px solid black;
    border-color: black transparent transparent transparent;
}
/* End Skills */
/* Start Opinion */
.opinion {
    padding-top: var(--special-padding);
    padding-bottom: var(--special-padding);
    text-align: center;
    color: var(--second-color);
    background-image: url(../img/opinion.jpg);
    background-size: cover;
    position: relative;
}
.opinion::before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 70%);
    position: absolute;
}
.opinion .container {
    position: relative;
}
.opinion q {
    display: block;
    font-size: 30px;
    margin-bottom: 30px;
}
/* End Opinion */
/* Start Princing */
.pricing {
    padding-top: var(--special-padding);
    padding-bottom: var(--special-padding);
}
.pricing .features {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    text-align: center;
}
.pricing .features .feat {
    border-top: 1px solid var(--main-color);
    background-color: #FCFCFC;
    padding: 40px 0 30px;
}
.pricing .features .feat h3 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 30px;
}
.pricing .features .feat .num {
    font-size: 60px;
    font-weight: bold;
    position: relative;
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 40px;
}
.pricing .feat .num::before {
    content: "$";
    font-size: 25px;
    font-weight: normal;
    position: absolute;
    top: -6px;
    margin-left: -30px;
}
.features .feat .num::after {
    content: "/Mo";
    font-size: 20px;
    position: absolute;
    bottom: 45px;
    margin-left: 15px;
}
.features .feat ul {
    list-style: none;
}
.features .feat ul li {
    padding: 20px;
    border-bottom: 1px solid var(--main-color);
    width: fit-content;
    margin: 0 auto;
}
.features .feat ul li:last-child {
    width: 100%;
}
.features .feat button {
    padding: 20px;
    background-color: #FCFCFC;
    border: 1px solid var(--main-color);
    margin-top: 30px;
}
.features .feat button a {
    text-decoration: none;
}
.pricing .contact {
    text-align: center;
    margin-top: 50px;
}
.pricing .contact h3 {
    font-weight: normal;
    margin-bottom: 30px;
}
.pricing .contact button {
    padding: 15px 30px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}
.pricing .contact button a {
    text-decoration: none;
    color: var(--second-color);
}
/* End Princing */
/* Start Subscribe */
.subscribe {
    padding-top: calc(var(--special-padding) + 20px) ;
    padding-bottom: calc(var(--special-padding) + 20px);
    background-image: url(../img/subscribe.jpg);
    background-size: cover;
    position: relative;
    color: var(--second-color);
}
.subscribe::before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 50%);
    position: absolute;
}
.subscribe .container {
    position: relative;
    display: flex;
    align-items: center;
}
@media (max-width: 992px) {
    .subscribe .container {
        flex-direction: column;
        text-align: center;
    }
}
.subscribe form {
    position: relative;
    width: 500px;
    max-width: 100%;
    display: flex;
}
.subscribe form i {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    z-index: 1;
}
.subscribe form input {
    padding: 20px 20px 20px 55px;
    border: 1px solid var(--second-color);
    outline: none;
    caret-color: var(--main-color);
    border-right: none;
    background: none;
    width: 100%;
}
.subscribe form input::placeholder {
    color: var(--second-color);
}
.subscribe form button {
    padding: 20px 25px;
    border: 1px solid var(--second-color);
    background-color: var(--main-color);
    border-left: none;
    text-transform: uppercase;
    color: var(--second-color);
}
.subscribe p {
    line-height: 2;
    margin-left: 60px;
}
@media (max-width:992px) {
    .subscribe p {
        margin-top: 40px;
    }
}
/* End Subscribe */
/* Start Contact-Us */
.contact-us {
    padding-top: var(--special-padding) ;
    padding-bottom: var(--special-padding);
}
.contact-us .box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}
@media (max-width: 768px) {
    .contact-us .box {
        row-gap: 30px;
        justify-content: center;
        text-align: center;
    }
    .contact-us .box > div {
        flex-basis: 100%;
    }
    .contact-us .box .text h3:nth-of-type(2) {
        margin-top: 30px;
    }
}
.contact-us .box .form {
    width: 70%;
}
.contact-us .box .form input,
.contact-us .box .form textarea {
    width: 100%;
    padding: 20px;
    outline: none;
    margin-bottom: 30px;
    border: 1px solid #CCCCCC;
} 
.contact-us .box .form button {
    padding: 20px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    display: flex;
    margin-left: auto;
}
.contact-us .box .form button a {
    text-decoration: none;
    color: var(--second-color);
    text-transform: uppercase;
    font-size: 18px;
}
.contact-us .box .text {
    width: 25%;
}
.contact-us .box .text h3 {
    font-weight: normal;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.contact-us .box .text h3:nth-of-type(2) {
    margin-top: 80px;
}
.contact-us .box .text span {
    color: #777;
    line-height: 1.8;
}
.contact-us .box .text ul{
    list-style: none;
}
.contact-us .box .text ul li {
    color: #777;
    padding: 10px 0;
}
/* End Contact-Us */
/* Start Footer */
.footer {
    padding-top: var(--special-padding) ;
    padding-bottom: var(--special-padding);
    text-align: center;
    background-image: url(../img/footer.jpg);
    background-size: cover;
    position: relative;
    color: var(--second-color);
}
.footer::before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 50%);
    position: absolute;
}
.footer .container {
    position: relative;
}
.footer .logo img {
    width: 120px;
    border-radius: 45px;
    margin-bottom: 40px;
}
.footer .social h2 {
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(--second-color);
    width: fit-content;
    margin: auto;
    padding: 20px;
}
.footer .social i {
    font-size: 20px;
    padding: 0px 15px;
    margin-top: 30px;
} 
.footer .social p {
    margin-top: 70px;
}
.footer .social p span {
    color: var(--main-color);
    font-weight: bold;
}
/* End Footer */
